.pagination {
  height: 48px;
  display: flex;
  top: 976px;
  left: 140px;
  padding: 0px 20px;
  border-top: 1px;
  gap: 8px;
  background-color: #273144;
  justify-content: space-around;
  color: #b4b4b4;
  border-top: 1px solid rgba(61, 90, 128, 1);
  border-bottom: 1px solid #273144;
  cursor: pointer;
}

.dropdownDiv {
  display: flex;
  align-items: center;
}

.pagination .paginationBox122 {
  align-items: center;
  display: flex;
  /* width: 729px; */
  width: 70%;
  height: 48px;
  gap: 8px;
}

.pagination .showingText {
  width: 4rem;
  height: 24px;
  font: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: gray;
}

.pagination .dropdownDiv {
  display: flex;
  align-items: center;
}

.pagination .totalRecords {
  width: auto;
  height: 24px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: gray;
}

.pagination .dropdownInput {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 46px;
  padding: 0px 12px;
  border: 1px solid rgba(61, 90, 128, 1);
}

.pagination .totalRender {
  width: auto;
  height: 24px;
  font: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #eeeeee;
  overflow: hidden;
  white-space: nowrap;
}

.pagination .dropdownImgDiv {
  width: 24px;
  height: 24px;
  padding: 0px 6.37px 0px 6.34px;
}

.pagination img.dropdownImage {
  width: 11.29px;
  height: 6.39px;
  top: 8.86px;
  left: 6.34px;
  color: #eeeeee;
}

.pagination .pageNum {
  text-decoration: none;
  border: 1px solid transparent;
  gap: 10px;
  cursor: pointer;
  outline: none;
}

ul.pagination {
  padding: 10px 0; 
  list-style: none;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border-top: none;
}

ul.pagination li {
  text-decoration: none;
  margin: 0 5px; 
}

ul.pagination li a {
  color: rgb(180, 180, 180, 1);
  text-decoration: none;
}

.pagination .active {
  color: #fff;
  background: #3d5a80;
  padding: 13px;
  padding-bottom: 14px;
  width: 48px;
}

.entriesPerPagePopup {
  position: relative;
  background-color: rgba(61, 90, 128, 1);
  border: 1px solid #273144;
  padding: 10px;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  bottom: 22px;
}

.popupItem {
  color: white;
  width: max-content;
  cursor: pointer;
  padding: 5px;
}
.popupItem:hover {
  color: #273144;
}
