.navContainer {
    width: 16%;
    top: 71.4px;
    height: 100vh;
    padding: 18.48px;
    gap: 63.35px;
    background-color: #273144;
  }
  
  .btnLabel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 56px;
    padding: 12px;
    gap: 10px;
    background-color: inherit;
    border: none;
    color: #b4b4b4;
    /* font-family: Inter; */
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    cursor: pointer;
  }
  /* .userManagement {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 56px;
    padding: 12px;
    gap: 10px;
    background-color: inherit;
    border: none;
    color: #b4b4b4;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    cursor: pointer;
  } */
  
  .activeNav {
    background: #3B4A61; 
    color: #ffffff; 
  }
  
  
  .imgDashboard {
    width: 24px;
    height: 24px;
  }
.activeSVG{
  fill: #ffffff;
}
  
  /* .svg-icon {

  } */