.projectManagement {
    width: 100%;
    padding: 20px;
    /* height: 100vh; */
    background-color: transparent;
}


.projectHeader {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 20px; 
    /* padding:15px 27px 0px 25px */
}
.headerTable img{
    width:20px;
    height:20px;
    cursor: pointer;
}
.projectHeader p {
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.projectData {
    --bs-table-bg: transparent;
    --bs-table-color: #FFFFFF;
    padding: 10px;
    width: 100%;
    /* height: 48px !important; */
    border-collapse: collapse;
    /* margin-left: 26px; */
    background-color: #2B3647;
}
.reviewImg{
    height:20px;
    width:20px
}

.headerTable {
    height: 52px;
    align-items: center;
    background-color: #a4608e;
}

.headerTable th {
    vertical-align: middle;
    font-size: 20px;
    font-weight: 600;
}

.capatainImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.colTeamName {
    width: 20%;
    padding-left: 15px;
}

.colSubmit {
    width: 15%;
}

.colReview{
    width: 15%
}

.table>:not(caption)>*>* {
    padding: 10px;
}

.recordDescription {
    max-width: 250px; /* Set the maximum width for the description column */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dataTable tr{
    cursor:pointer;
    border-bottom: 1px solid #3D5A80;
    height: 60px;
} 
.dataTable td{
    padding-left: 8px;
}
.dataTable tr:hover{
    cursor:pointer;
    background-color: #3D5A80;
}

.formControlDropdown{
    width:260px;
    margin:0px 30px;
 
}
#demo-simple-select-label{
    color:#B4B4B4 !important;
}
.filterProjectManagement{
    display:flex;
    
}
.filterProjectManagement{
    color: white;
}
.filterProjectManagement .inputWithSearchIcon input{
    height:55px;
    font-size: 20px;
}
.filterProjectManagement .MuiFormControl-root.formControlDropdown .MuiInputBase-root.MuiOutlinedInput-root{

    border-color: 1px solid rgb(61, 90, 128);
}
.filterProjectManagement .MuiFormControl-root.formControlDropdown label.MuiFormLabel-root.MuiInputLabel-root{
    color: black !important;
    font-size: 20px;
}
.filterProjectManagement .MuiFormControl-root.formControlDropdown{
    margin:0px 40px 0px 0px;
    background-color: #2B3647;
    border-radius: 4px;
    border:1px solid #3D5A80;
    height: 55px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.MuiMenu-paper {
    max-height: 250px ;
    max-width: 260px;
    margin-left: 0px;
    
}

.filterProjectManagement .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl{
    margin-top: 0px;
    height:55px;

}

.filterProjectManagement .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl:active{
    border-color: none;
}
.filterProjectManagement .MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input{
    padding:0px 10px 30px;
    margin-top: 25px;
    color:white

}
.userPaginationPM{
    position: fixed;
    bottom: 0;
    width:84%;
    
}
#demo-simple-select-label{
    margin-top:-3px;
}
.filterProjectManagement .MuiTouchRipple-root :hover{
    background-color: red;
}
.filterProjectManagement .inputWithSearchIcon input::placeholder{
    font-size:18px;
    margin-left:5px

}
.filterProjectManagement .inputWithSearchIcon svg {
    width:20px;
    height:25px

}
