/* .allCardBody {
  padding: 0%;
  width: 100%; */
  /* gap: 20px; */
  /* background-color: #1b2531; */
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; */
/* } */

.allCardBody {
  background-color: #1b2531; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
/* Pagination Styles */
.pagination {
  height: 48px;
  display: flex;
  top: 976px;
  left: 140px;
  padding: 0px 20px;
  border-top: 1px;
  gap: 8px;
  background-color: #273144;
  justify-content: space-around;
  color: #b4b4b4;
  border-top: 1px solid rgba(61, 90, 128, 1);
  border-bottom: 1p solid #273144;
  cursor: pointer;
}
.dropdownDiv {
  display: flex;
  align-items: center;
  position: relative; /* Center the text vertically */
}

.pagination .paginationBox122 {
  align-items: center;
  display: flex;
  width: 729px;
  height: 48px;
  gap: 8px;
}

.pagination .showingText {
  width: 58px;
  height: 24px;
  font: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: gray;
}

/* .pagination .dropdownDiv {
  width: 90px;
  height: 100%;
  border: 1px solid #3d5a80;
  gap: 8px;
  color: 1px solid #3d5a80;
} */
.pagination .dropdownDiv {
  display: flex;
  align-items: center;
}

.pagination .totalRecords {
  width: 565px;
  height: 24px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: gray;
}

/* .pagination .dropdownInput {
  display: contents;
  display: flex;
  width: 90px;
  padding: 12px;
  border-radius: 4px;
  gap: 8px;
} */
.pagination .dropdownInput {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 48px;
  padding: 0px 12px;
  border: 1px solid rgba(61, 90, 128, 1);
}
.pagination .righttext {
  width: 60px;
  height: 24px;
  gap: 10px;
}

.pagination .totalRender {
  width: auto;
  height: 24px;
  font: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #eeeeee;
  overflow: hidden;
  white-space: nowrap;
}

.pagination .dropdownImgDiv {
  width: 24px;
  height: 24px;
  padding: 0px 6.37px 0px 6.34px;
}

.pagination img.dropdownImage {
  width: 11.29px;
  height: 6.39px;
  top: 8.86px;
  left: 6.34px;
  color: #eeeeee;
}

.pagination .pageNum {
  text-decoration: none;
  border: 1px solid transparent;
  gap: 10px;
  cursor: pointer;
  outline: none;
}

ul.pagination {
  padding: 10px 0; /* Adjust top and bottom padding */
  list-style: none;
  display: flex; /* Use flexbox */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

ul.pagination li {
  text-decoration: none;
  margin: 0 5px; /* Adjust margin between items */
}

ul.pagination li a {
  color: rgb(180, 180, 180, 1);
  text-decoration: none;
}

.pagination .active {
  color: #fff;
  background: #3d5a80;
  padding: 18px;
  padding-bottom: 12px; /* Adjust padding for active element */
  width: 48px;
  height: 48px;
}

.entriesPerPagePopup {
  position: absolute;
  left: 100%; 
  bottom: 0;
  background-color: #fff; 
  border: 1px solid #ccc; 
  padding: 10px;
  z-index: 1;
  max-height: 200px; 
  overflow-y: auto; 
}
.popupItem {
  width: max-content;
  cursor: pointer;
  padding: 5px;
}
