.Bodyofpagination{
  width: 100%;
}
.allCardBody {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr)); /* Adjust the gap value and minmax function as needed */
  gap: 30px;
}

