.inputWithSearchIcon input{
  background-color: rgb(39 49 68);
  border: 1px solid rgb(61, 90, 128);
  border-radius: 4px;
  padding: 5px 0 5px 40px;
  font-size: small;
  color: white;
  width: 250px;
  height: 35px;
}
.inputWithSearchIcon input::placeholder{
  font-size: small;  
}
.inputWithSearchIcon{
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.inputWithSearchIcon svg{
  position: absolute;
  left: 15px;
  width: 13px;
  /* font-size: smaller; */
  color: gray;
}