.root1{
    color:aliceblue;
  margin-left: 13%;
  margin-right: 13%;
 font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.item{
padding: 20px;
height: 60px;
gap: 8px;
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: #B4B4B4;  
border-bottom: 2px solid transparent; 
margin: 0;
}
.topContainer hr{
  margin-top: -2px;
  height: 2px;
  /* border-bottom: 2px solid #3d5a80; */
  color: #3235f7;
  margin-bottom: 40px;
}
.item:hover{
    color:#EE6C4D;
    border-color: #EE6C4D;
    cursor:pointer;
    font-weight:600;
    z-index: 1;
}
.active{
    color:#EE6C4D !important;
    border-color: #EE6C4D !important;
    cursor:default;
    text-decoration: none;
    font-weight:600;
    z-index: 1;
}
.cardStyling{
    width: 350px;
height: 108px;
border-radius: 8px;
border: 1px solid #3D5A80;
background-color:#273144;
padding: 16px;
display: flex;
flex-direction: row;
gap:20px;
margin-left: 20px;
margin-right: 20px;

}

.imgStyling {
  border-radius: 50%;
  object-fit: cover;
  width: 65px;
  height: 65px;
  border: none;
}
.name{
    font-family: inherit;
    
font-size: 16px;
font-weight: 500;
letter-spacing: 0em;
text-align: left;
width: 160px;
color: #EEEEEE;

}
.emailStyling{
    font-family: inherit;
font-size: 14px;
font-weight: 400;
letter-spacing: 0em;
text-align: left;
width: 160px;
color:#B4B4B4
}
.empIdStyling{
    font-family: inherit;
    padding-top: 8px;
font-size: 14px;
font-weight: 600;
letter-spacing: 0em;
text-align: left;

}
.memberDetails {
  display: flex;
  flex-direction: column;
}
