.root{
    color:aliceblue;
    padding-left: 100px;
    padding-right: 100px;
    /* height:max-content */
}
.item{

    padding: 20px;
    
    gap: 8px;
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #B4B4B4;  
border-bottom: 2px solid transparent; 

}
.item:hover{
    color:#EE6C4D;
    border-color: #EE6C4D;
    /* padding-bottom: 20px; */
    cursor:pointer;
    font-weight:600;
}
.item:active{
    color:#EE6C4D;
    line-height: 18px;
    border-color: #EE6C4D;

    /* padding-bottom: 20px; */
    cursor:pointer
}
.borderStyling{
    margin-top: -2px; 
    border-bottom: 2px solid #3D5A80; 
    margin-bottom: 40px;

}
.cardStyling{
    width: 345px;
height: 104px;
border-radius: 8px;
border: 1px solid #3D5A80;
background-color:#273144

}
.rowStyling{
    padding: 16px;
    
}
.profileStyling{
    border-radius: 50%;
    object-fit: cover; 
    width: 65px;
    height: 65px;
    border: none;
}
.nameStyling{
    font-family: inherit;
    
font-size: 16px;
font-weight: 500;
letter-spacing: 0em;
text-align: left;
color: #EEEEEE;

}
.emailStyling{
    font-family: inherit;
font-size: 12px;
font-weight: 400;
letter-spacing: 0em;
text-align: left;
color:#B4B4B4
}
.empIdStyling{
    font-family: inherit;
    padding-top: 8px;
font-size: 12px;
font-weight: 600;
letter-spacing: 0em;
text-align: left;

}