.custom-navbar {
    background-color: #495F80;
    width:100%;
   max-height:60px;
   height: 55px; 
   position:relative
    /* padding-right:100px;
    padding-left:100px; */
     /* or any other color */
  }
  .container {
    width: 100%;
    min-width: 77%;
  }
  .containerDashboard{
    width:100%
  }
  /* Media query for 1440px screen size */
  @media screen and (min-width: 1440px) {
    .container {
      width: 80%; 
    }
  
  }
  
  /* Media query for 1920px screen size */
  @media screen and (min-width: 1920px) {
    .container {
      width: 77%;
    }
}
.col-3{
  width:24%
}
.navLinkItem{
    color:white;
    padding-right: 20px !important;
    padding-left: 20px !important;
    font-family: inherit;
font-size:14px;
font-weight: 500;
line-height: 16px;

letter-spacing: 0em;
text-align: left;
text-decoration: none;

}
.navLinkItem:hover{
    text-decoration: underline;
    color: white;
}
.itemActive{
    text-decoration: underline ; 
    color: white !important;
}
.disable-hover:hover {
    text-decoration: underline;
    cursor: default; 
  }
.profile{
    width: 38px;
    height: 38px;
    text-align: center;
    
}
.nameStyling{
font-family: "Inter";
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color:#FFFFFF;
font-family: inherit;
}
.teamStyling{
font-family: "Inter";
font-size: 12px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color:#B8B8B8;
font-family: inherit;
}
.iconDivStyling{
    width:48px;
    height:48px;
    padding: 14px;
    border-radius: 8px;
    gap: 6px
    
}
.icon-class{
    font-size: 20px;
}
.profileActiveImage{
    background-color:#273144;
/* padding: 7px 12px 7px 16px; */

border-radius: 8px 0px 0px 8px;

padding: 7px 10px 7px 10px;
border-radius: 8px 0px 0px 0px;




}
.profileActiveDetails{
    background-color:#273144;
    padding: 7px 40px 7px 10px;
/* padding: 7px 12px 7px 16px; */
border-radius: 0px 8px 8px 0px;


}
.details{
    max-width:300px;
    width:100px
}