/* .allCardBody {
    width: 100%;
    height: auto;
    gap: 20px;
    background-color: #1b2531;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    scroll-behavior: auto;
  } */

.cardAll{
  /* width: 360px; */
  width: 355px;
  height: 316px;
  border-radius: 8px;
  border: 1px;
  gap: 24px;
  background: #273144;
  border: 1px solid #3d5a80;
  border-bottom: 4px solid #ee6c4d;
  text-decoration: none;
}

.card1 {
  border-radius: 8px 8px 0 0;
  width: auto;
  height: 212px;
  justify-content: space-between;
  background: linear-gradient(0deg, #2b3647, #2b3647),
    linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.card2 {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  width: auto;
  height: 76px;
  padding: 0px, 24px, 24px, 24px;
  border: 0px, 0px, 4px, 0px;
  gap: 12px;
  /* top: 22px; */
  /* border-bottom: 4px solid #ee6c4d; */
  border-left: 4px;
  padding: 0px 24px;
  position: relative;
}
.cradLogo1 {
  width: 21px;
  height: 10px;
  font-family: Open Sans;
  font-size: 7px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
}
.cardLogo {
  width: auto;
  height: 91px;
  justify-content: space-between;
  display: flex;
}
.cardgroup {
  width: 78px;
  height: 91px;
  color: rgba(238, 108, 77, 1);
  /* border: 1px solid rgba(238, 108, 77, 1); */
  position: relative;
}

.hashIcon {
  width: 78px;
  height: 91px;
  border: 1px;
  color: rgba(253, 246, 253, 0.1);
  /* border: 1px solid rgba(250, 209, 200, 0.4); */
  position: absolute;
}
.cardRank {
  position: absolute;
  width: 70px;
  height: 71px;
  top: 2px;
  left: 4px;
  border: 1px;
  font-family: Roboto;
  font-size: 4rem;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: 0.02em;
  text-align: right;
  color: #b4b4b4;
}
.cardRank.doubleDigit {
  width: auto;
}

.cardRank.rank1 {
  color: rgba(238, 108, 77, 1);
}

.cardRank.rank2 {
  color: #60a69f;
}

.cardRank.rank3 {
  color: #ffd54f;
}
.cardPoint1 {
  width: 120px;
  height: 64px;
  padding: 16px;
  gap: 8px;
}
.cardPoint2 {
  width: 88px;
  height: 32px;
  padding: 8px, 12px, 8px, 12px;
  border-radius: 18px;
  border: 1px;
  gap: 8px;
  background: rgba(164, 96, 142, 1);
  border: 1px solid rgba(252, 245, 250, 1);
  align-items: center;
  justify-content: center;
  display: flex;
}
.starIcon {
  width: 16px;
  height: 16px;
  color: yellow;
  margin-left: 0.5rem;
}
img.starIcon {
  width: 16px;
  height: 16px;
}
.cardPoint {
  /* padding-top: 3px; */
  width: 40px;
  height: 16px;
  font: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  /* padding-left: 0.7rem; */
}
.team {
  width: auto;
  height: 49px;
  margin-top: 4.375rem;
  padding: 16px, 24px, 16px, 24px;
  gap: 8px;
  /* background-color: rgba(43, 54, 71, 0.4); */
  background-color: #2b364766;
}
.teamName {
  padding-left: 17px;
  position: absolute;
  width: auto;
  height: 17px;
  margin: 7px;
  font: Roboto;
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: right;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.captainTitle {
  width: 49px;
  height: 16px;
  font: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #b4b4b4;
}
.cardCaptain {
  display: inline-flex;
  width: 325px;
  height: 24px;
  gap: 8px;
}

img.captainImage {
  width: 24px;
  height: 24px;
  color: #d9d9d9;
}
.captainName {
  width: auto;
  height: 19px;
  font: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

  color: #ffffff;
}

/* //pagination */
/* .pagination {
  display: flex;
  top: 976px;
  left: 140px;
  padding: 0px, 20px;
  border-top: 1px;
  gap: 8px;
  background-color: #273144;

  justify-content: space-around;

  color: #b4b4b4;
  cursor: pointer;
}
ul.pagination {
  padding-top: 10px;
  list-style: none;
}

ul.pagination li {
  color: gray;
  text-decoration: none;
}

ul.pagination li a {
  color: white;
  text-decoration: none;
}

.paginationBox122 {
  align-items: center;
  display: flex;
  width: 729px;
  height: 48px;
  gap: 8px;
}

.paginationBox2Num {
  width: 384px;
  margin-top: 10px;
  height: 48px;
  border-radius: 4px;
  border: 0px, 1px, 0px, 1px;
}

.showingText {
  width: 58px;
  height: 24px;
  font: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: gray;
}

.dropdownDiv {
  width: 90px;
  height: 48px;
  border: 1px;
  gap: 8px;
  color: 1px solid #3d5a80;
}

.totalRecords {
  width: 565px;
  height: 24px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  color: gray;
}
.dropdownInput {
  display: contents;
  display: flex;
  width: 90px;
  height: 21px;
  padding: 12px;
  border-radius: 4px;
  gap: 8px;
}
.righttext {
  width: 60px;
  height: 24px;
  gap: 10px;
}
.totalRender {
  width: 29px;
  height: 24px;
  font: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #eeeeee;
}
.dropdownImgDiv {
  width: 24px;
  height: 24px;
  padding: 0px, 6.37px, 0px, 6.34px;
}

img.dropdownImage {
  width: 11.29px;
  height: 6.39px;
  top: 8.86px;
  left: 6.34px;
  color: #eeeeee;
}


.pageNum {
  text-decoration: none;
  border: 1px solid transparent; 
  cursor: pointer;
  outline: none; 
}

.active {
  color: #fff;
  background: #3d5a80;
  padding: 19px;
  padding-bottom: 16px;

  width: 48px;
  height: 48px;
} */
