.submissionClosedSec{
  width: 479px;
  /* height: 388px; */
  border-radius: 16px;
  border: 1px solid rgba(56, 66, 82, 1);
  padding:24px 24px 0 24px;
  text-align: center;
  background-color: rgba(39, 49, 68, 1);
}
.submissionClosedSec img{
  width: 88px;
  height: 88px;
  margin: 40px 0;
}
#header{
font-size: 24px;
font-weight: 600;
line-height: 28px;
text-align: center;

}
#closedInfo{
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: center;
padding: 0 70px;
color: rgba(238, 238, 238, 1);
}
#apologyP{
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: center;
color: rgba(180, 180, 180, 1);
}