.registerHome{
  /* width: 80%; */
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin-top: 20px;
  /* padding: 20px 120px; */
  /* border: 3px solid rgb(61, 90, 128); */
}
.registerHome1{
  /* width: 80%; */
  margin-left:15%;
  display: flex;
  /* justify-content: center; */
  min-height: 100vh;
  margin-top: 20px;
  /* padding: 20px 120px; */
  /* border: 3px solid rgb(61, 90, 128); */
}
.navRegister{
  width: 84%;
  border-bottom: 1px solid rgb(61, 90, 128);
  margin-left: 100px;
  padding-top: 15px;
 
}
.aTag{
  color: white;
  text-decoration: none;
  font-size: 12px;
}
/* .navThroughFormD1{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  
  justify-content: space-between;
  width: 100%;
  height: 100vh;
} */


.navThroughFormD{
  padding: 20px 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  /* border: 2px solid green; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* height: 100vh; */
}
.sideSteps{
  /* width: 30%; */
  margin-right: 10%;
}
#h6Tag{
  font-size: 18px;
}
.circles{
  margin-top: 3px;
}
.circles #currentStep{
  width: 28px;
  height: 27px;
  background-color: rgb(238, 108, 77);
  color: white;
  border-radius: 20px;
  margin: 0;
  text-align: center;
  font-size: 13px;
  /* font-weight: bold; */
  padding-top: 4px;
}
.circles #notReachedHr{
  background-color:  rgb(207 207 207);
  height: 40px;
  width: 2px;
  padding: 0;
  margin: 0 14px;
}
.circles #currentHr{
  /* position: relative; */
  background-color:  rgb(252, 90, 21);
  height: 40px;
  width: 2px;
  padding: 0;
  margin: 0 14px;
  /* transform: rotate(90deg); */
}
.navThrough{
  display: flex;
  margin-top: 30px;
}
.circles #notReached{
  width: 28px;
  height: 27px;
  background-color: rgb(207, 207, 207);
  color: white;
  border-radius: 20px;
  margin: 0;
  text-align: center;
  font-size: 13px;
  /* font-weight: bold; */
  padding-top: 4px;
}

.namesOfRegister p{
  margin-bottom: 24px;
  margin-left: 15px;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.namesOfRegister span{
  margin-left: 0px;
  padding: 0;
  font-size: 14px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.formSection, .topicForm{
  width:50%;
  border: 1px solid rgb(56 66 82);
  /* height: 500px; */
  border-radius: 20px;
  background-color: rgb(39 49 68);
  padding: 20px;
  height: fit-content;
}
.formSection p, .topicForm p{
  /* padding: 0px 0 0 20px; */
  font-size: 11px;
}
.topicForm{
  margin-bottom: 150px;
}
#selectMemHead{
font-size: 24px;
font-weight: 600;
line-height: 28.18px;
text-align: left;

}
#infoHeading1{
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;

}
.inputSec{
  width:75%
}
.searchIcon{
  /* padding: 5px 0 0 20px; */
  display: flex;
  justify-content: space-between;
}
.rulForTeam{
  margin-top: 20px;
}
.rulForTeam p {
font-size: 14px;
font-weight: 500;
line-height: 20px;
text-align: left;

}
.rulForTeam #svgP{
font-size: 12px;
font-weight: 400;
line-height: 14.06px;
text-align: left;
color: rgba(238, 238, 238, 1);


}
.teamMembersDiv{
  margin-top: 25px;
}
.membersNav{
  display: flex;
  justify-content: space-between;
}
.membersNav p{
font-size: 16px;
font-weight: 600;
line-height: 18.75px;
text-align: left;

}
.contentMEM{
  /* font-family: arial, sans-serif; */
  /* border-collapse: collapse; */
  /* border-radius: 10px; */
  border: none;
  background-color: rgb(39 49 68);
  display: flex;
  /* justify-content: space; */
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  position: relative;
}
.contentMEM:nth-child(odd) {
  background-color: rgb(43 54 71);
}
.contentMEM p{
 padding-top: 5px;
 margin: 0 20px 0 0;
 position: relative;
 font-size: 13px;
}
#trashIcon{
 position: absolute;
 right: 20px;
 cursor: pointer;
}
#idOfMem, #nameEmail{
 display: flex;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
text-align: left;

  /* margin-right: 100px; */
}
#nameEmail b{
  display: block;
  margin-left: 20px;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
text-align: left;

  /* margin-right: 100px; */
}
#nameEmail #email{
 color: rgba(180, 180, 180, 1);
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;

}
#nameEmail img{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  /* display:; */
}
.nextCancelDiv{
  text-align: right;
  margin-top: 30px;
}
#cancelBtn, #nextBtn{
  /* padding: 10px; */
  padding: 10px 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: small;
    
}

#cancelBtn{
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid  rgb(61, 90, 128);
font-size: 16px;
font-weight: 700;
line-height: 18.75px;
text-align: center;
width: 160px;
height: 47px;
padding: 14px 28px 14px 28px;
gap: 8px;
opacity: 0px;


}
#nextBtn{
background-color: rgb(238, 108, 77);
width: 160px;
height: 47px;
padding: 14px 28px 14px 28px;
gap: 8px;
opacity: 0px;
font-size: 16px;
font-weight: 700;
line-height: 18.75px;
text-align: center;

  
}
.projectDetail{
  display:flex;
  justify-content: space-between;
}
.projectDetail h5{
 
  color: rgba(255, 255, 255, 1);

}
.projectDetail p{
  color:rgba(238, 238, 238, 1)
}
.projectDetailTopic{
  font:
  Roboto Flex;
  font-weight:400;
  font-size:14px;
  line-height:20px;
  color:rgba(255, 255, 255, 1)

}
.count{
  float:right;
  color:rgba(180, 180, 180, 1);
}
#projectDetailNote{
  background-color: rgba(128, 68, 64, 1);
  margin-top: 30px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  color: rgba(238, 238, 238, 1);
  font-weight: 500;
  font-size:14px;
}
.profilePicSelectDiv{
height: 78px;
padding: 12px 0px 12px 0px;
gap: 0px;
border: 0px 0px 1px 0px;
opacity: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid  rgb(61, 90, 128);
}
.profilePicSelectDiv p{
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: rgba(140, 140, 140, 1);

}
.profilePicSelectDiv img{
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.profilePicSelectDiv svg{
  /* width: 54px;
  height: 54px; */
  margin-right: 30px;
  cursor: pointer;
  /* margin:0 0 10px 70px; */
}
.teamNameInpDiv{
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 25px;
  color: rgba(140, 140, 140, 1);
height:72px;
padding: 12px 0px 12px 0px;
gap: 0px;
opacity: 0px;

}
.teamNameInpDiv p{
  font-size: 14px;
  /* padding: 0; */
  margin: 7px 0 0 0;
}
.teamNameInpDiv input{
  font-size: 14px;
  width: 70%;
  border: 1px solid  rgb(61, 90, 128);
  background-color: transparent;
  padding: 8px 10px ;
  border-radius: 3px;
  color: white;
}
.selectCaptainSec{
  display: flex;
justify-content: space-between;
margin-top: 20px;
}
.selectCaptainSec #captainLbl{
  color: rgba(140, 140, 140, 1);
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;

}
.selectACaptianDiv{
  width: 70%;
}
.mapMemberDiv{
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.selectedMemberDiv{
  display: flex;
  align-items: center;
  /* border: 1px solid white; */
  padding: 0 15px;
  background-color: rgb(92 67 72);
}
/* .selectedMemberDiv:nth-child(odd) {

} */

.mapMemberDiv:nth-child(odd) {
  background-color: rgb(43 54 71);
}
.mapMemberDiv span, .selectedMemberDiv span{
  color: rgba(140, 140, 140, 1);
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;

}
.mapMemberDiv p, .selectedMemberDiv p{
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  
}
.mapMemberDiv img, .selectedMemberDiv img{
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin:0 20px;
  /* display: ; */
}
/* #html{
  accent-color: rgb(238, 108, 77);
  width: 17px;
  height: 17px;
  background-color: transparent;
  color: transparent;
} */
.topicSec{
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  color: gray;
}
.topicSec p, .descriptionSec p {
  font-size: 14px;
  margin-top: 7px;
}
.topicSec input, .descriptionSec textarea{
  font-size: 14px;
  width: 100%;
  border: 1px solid  rgb(61, 90, 128);
  background-color: transparent;
  padding: 8px 10px ;
  border-radius: 3px;
  color: white;
}
.descriptionSec{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 25px;
  color: gray;
}
.descriptionSec textarea{
  /* height: 150px; */
  min-height: 100px;
  /* height: max-content; */
}
@media screen and (min-width:1024px){
  .navThroughFormD, .navThroughFormD1{
    width: 80%;
  }
}